.container {
  height: 560px;
  /* background-color: rgba(128, 128, 128, 0.527); */
  background-color: #222;
  display: flex;
  flex-wrap: wrap;
}
.allTodo {
  flex: 1;
  text-align: center;
  height: 100%;
  overflow: auto;
}

.h2 {
  color: #fff;
}
.todoComplete {
  flex: 1;
  text-align: center;
  height: 100%;
  overflow: auto;
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
    height: 800px;
  }
  .todoComplete {
    margin-top: 55px;
  }
  .h2 {
    position: sticky;
    top: 0;
    height: 3rem;

    z-index: 1;
  }
}
